# Build artifacts
/target
temp-excalidraw-plugin
frontend/dist
data/
/dist
/backend/target
**/node_modules/**

# Secrets
.env
*.key
*.pem
secrets/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Nix
result
result-*
